@model PBP_Frontend.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Mudar Senha";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal center-form-alt", role = "form" }))
{
    <h2 class="internal-page-title">Configurações</h2>
    <h5 class="internal-page-subtitle">Modifique sua senha de acesso</h5>

    @Html.AntiForgeryToken()
    
    <div class="row justify-content-center align-items-center mt-3">
        <div class="col-md-5 mx-auto w-75">
            <div class="d-block col-md-12">
                <div class="form-group">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "col-md-auto control-label" })
                    <div class="col-md-auto">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "col-md-auto control-label" })
                    <div class="col-md-auto">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-md-auto control-label" })
                    <div class="col-md-auto">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group mt-4">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Concluir" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>menuItemId = "liItemSettings"</script>