@model PBP_Frontend.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

<h2 class="internal-page-title">Cadastrar Produtos</h2>
<h5 class="internal-page-subtitle">Cadastre um novo produto</h5>

<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-5 mx-auto w-75 mt-3">
        <div class="d-block col-md-12 mt-3">
            @using (Html.BeginForm("Create", "Products", null, FormMethod.Post, new { @class = "form-horizontal center-form col-md-12", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-auto control-label" })
                    <div class="col-md-auto">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "col-md-auto control-label" })
                    <div class="col-md-auto">
                        @Html.DropDownList("LocationId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mt-4">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cadastrar" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
