@model PBP_Frontend.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "RECUPERAR SENHA";
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-5 align-items-center">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal center-form-alt", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h2 class="center-text center-text-title">@ViewBag.Title</h2>
            <h4 class="center-text">Esqueceu a senha? Sem problemas, digite	seu e-mail e iremos te auxiliar.</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-11 mb-3">
                    <input type="submit" class="btn btn-default btn-confirm" value="Enviar" />
                </div>
                <div>
                    @Html.ActionLink("Voltar", "Login", "Account", new { @class = "side-link" })
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
