@using PBP_Frontend.Models
@model LoginViewModel
@{
    ViewBag.Title = "Efetuar login";
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}
@Styles.Render("~/ExternalContent/css")

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-5">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal center-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-11">
                        <h2 class="center-text center-text-title">ENTRAR</h2>
                        <h5 class="center-text">Insira seus dados para entrar</h5>
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-auto control-label" })
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", @style = ".validation-summary-valid { display:none; }" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-auto control-label" })
                    <div class="col-md-11">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @style = ".validation-summary-valid { display:none; }" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-11">
                        <div class="checkbox">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-11">
                        <input type="submit" value="Efetuar login" class="btn btn-default btn-confirm" />
                        <br />
                        <p class="mt-3 float-lg-left">@Html.ActionLink("Criar uma conta", "Register", "Account", null, new { @class = "side-link" })</p>
                        <p class="mt-3 float-lg-right">@Html.ActionLink("Esqueceu sua senha?", "ForgotPassword", new { @class = "side-link" })</p>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}