@model PBP_Frontend.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Redefinir senha";
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-5">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-11">
                    <h2 class="center-text center-text-title">@ViewBag.Title</h2>
                    <h5 class="center-text">Preencha os campos abaixo</h5>
                </div>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-auto control-label" })
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control w-100" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-auto control-label" })
                <div class="col-md-11">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control w-100" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-auto control-label" })
                <div class="col-md-11">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control w-100" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-11">
                    <input type="submit" class="btn btn-default btn-confirm" value="Redefinir" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
