<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PickByPath</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/InternalContent/css")
</head>
<body class="clearfix">
    <div class="nav-side-menu">
        <div class="brand"><img src="~/Images/logo-internal.png" alt="Logo" class="img-logo" /></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li id="liItemSettings">
                    <a href="@Url.Action("Index","Home")"><i class=" fa fa-home"></i>Início</a>
                </li>
                <li data-toggle="collapse" data-target="#menu-list" class="collapsed" id="liItemList">
                    <a href="#"><i class="fas fa-th-list"></i> Lista <i class="fas fa-caret-down arrow"></i></a>
                </li>
                <ul class="sub-menu collapse" id="menu-list">
                    <li><a href="@Url.Action("ChooseProducts","Lists")"><i class="fas fa-plus"></i> Cadastrar</a></li>
                    <li><a href="@Url.Action("Index","Lists")"><i class="fas fa-search"></i> Consultar</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#menu-products" class="collapsed" id="liItemProducts">
                    <a href="#"><i class="fas fa-box-open"></i> Produtos <i class="fas fa-caret-down arrow"></i></a>
                </li>
                <ul class="sub-menu collapse" id="menu-products">
                    <!--<li><a href="@Url.Action("Create","Products")"><i class="fas fa-plus"></i> Cadastrar</a></li>-->
                    <li><a href="@Url.Action("Index","Products")"><i class="fas fa-search"></i> Consultar</a></li>
                </ul>
                <li id="liItemSettings">
                    <a href="@Url.Action("ChangePassword","Manage")">
                        <i class="fas fa-cog"></i> Configurações
                    </a>
                </li>
                <!--
    <li id="liItemManual">
        <a href="http://www.senaicimatec.com.br/processos/programadebolsas/#/processo-seletivo">
            <i class="fas fa-book"></i> Manual de uso
        </a>
    </li>
    -->
                <li class="sidebar-bottom">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="fas fa-power-off"></i> Sair
                        </a>
                    }
                </li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        <div class="page-content">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/InternalScript/ChangeMenuItem")
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
