@model PBP_Frontend.ViewModels.ChooseProductsViewModel

@{
    ViewBag.Title = "ChooseProducts";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

<h2>Criar Lista</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table class="table">
        <tr>
            <th>
                #
            </th>
            <th>
                Produto
            </th>
            <th>
                Localização
            </th>
            <th></th>
        </tr>
        @if (Model?.ProductsToChoose?.Count > 0)
        {
            for (int i = 0; i < Model.ProductsToChoose.Count; i++)
            {
                <tr>
                    <td class="font-weight-bold">
                        @Html.DisplayName(String.Format("{0}", i + 1))
                        @Html.HiddenFor(modelItem => Model.ProductsToChoose[i].ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ProductsToChoose[i].ProductName)
                        @Html.HiddenFor(modelItem => Model.ProductsToChoose[i].ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ProductsToChoose[i].ProductLocation)
                        @Html.HiddenFor(modelItem => Model.ProductsToChoose[i].ProductLocation)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => Model.ProductsToChoose[i].Chosen)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">
                    Nenhum item encontrado
                </td>
            </tr>
        }

    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Continuar" class="btn btn-success" />
        </div>
    </div>
}

