@model PBP_Frontend.ViewModels.ListViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}

<h2 class="internal-page-title">Consultar Lista</h2>
<h5 class="internal-page-subtitle">Detalhes da lista de produtos</h5>

<div>
    <div class="col-md-11 mb-4">
        <div class="row">
            <p><span class="font-weight-bold">Nome da Lista:</span> @Html.DisplayFor(model => model.ListName)</p>
        </div>
        <div class="row">
            <p><span class="font-weight-bold">@Html.DisplayNameFor(model => model.ListRequester):</span> @Html.DisplayFor(model => model.ListRequester)</p>
        </div>
        <div class="row">
            <p><span class="font-weight-bold">@Html.DisplayNameFor(model => model.CreationDate):</span> @Html.DisplayFor(model => model.CreationDate)</p>
        </div>
        @if (Model.LastListStatusId == (int)PBP_Frontend.Enums.ListStatusEnum.FINISHED)
        {
            <div class="row">
                <p><span class="font-weight-bold">@Html.DisplayNameFor(model => model.RunningTime):</span>  @Html.DisplayFor(model => model.RunningTime)</p>
            </div>
        }
    </div>
</div>

<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsChosen.FirstOrDefault().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsChosen.FirstOrDefault().RequiredQuantity)
            </th>
            @if (Model.LastListStatusId == (int)PBP_Frontend.Enums.ListStatusEnum.FINISHED)
            {
                <th>
                    @Html.DisplayNameFor(model => model.ProductsChosen.FirstOrDefault().QuantityCatched)
                </th>
            }
        </tr>
    </thead>

    @if (Model?.ProductsChosen?.Count() > 0)
    {
        for (int i = 0; i < Model?.ProductsChosen?.Count; i++)
        {
            <tr>
                <td class="font-weight-bold">
                    @Html.DisplayName(String.Format("{0}", i + 1))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ProductsChosen[i].ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ProductsChosen[i].RequiredQuantity)
                </td>
                @if (Model.LastListStatusId == (int)PBP_Frontend.Enums.ListStatusEnum.FINISHED)
                {
                    <td>
                        @Html.DisplayFor(modelItem => Model.ProductsChosen[i].QuantityCatched)
                    </td>
                }
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4" class="text-center">
                Nenhum item encontrado
            </td>
        </tr>
    }
</table>
<p class = "col-md-11 mt-4">
    @Html.ActionLink("Voltar", "Index")
</p>
<script>menuItemId = "liItemList"</script>
