@model IEnumerable<PBP_Frontend.Models.List>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
    List<PBP_Frontend.Models.List> listList = Model.ToList();
    List<PBP_Frontend.Models.ChangeLog> listchangelog = ViewBag.ListChangeLog;
}

<h2 class="internal-page-title">Consultar Listas</h2>
<h5 class="internal-page-subtitle">Visualizar listas de produtos</h5>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requester)
            </th>
            <th>
            </th>
        </tr>
    </thead>

    @if (listList?.Count() > 0)
    {
        for (int i = 0; i < listList?.Count(); i++)
        {
            <tr>
                <td class="font-weight-bold">
                    @Html.DisplayName(String.Format("{0}", i + 1))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => listList[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => listList[i].Requester)
                </td>
                <td>

                    @Html.ActionLink("Ver", "Details", new { id = listList[i].ListId }, new { @class = "table-button-link" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3" class="text-center">
                Nenhum item encontrado
            </td>
        </tr>
    }
</table>
@section styles
{
    <link href="~/Content/IndexList/IndexList.css" rel="stylesheet" />
}
<script>menuItemId = "liItemList"</script>